<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AttendanceApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@android:mipmap/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalaqatAttendance"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HalaqatAttendance.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HalaqatAttendance" />
        
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.TeacherDashboardActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.ParentDashboardActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.ManageUsersActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.ManageHalaqatActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.ManageFawjActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.AttendanceReportActivity"
            android:exported="false" />
        
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
            
    </application>

</manifest>
